@bodyHeight:100vh;
@bodyWidth:100vw;

@containerMarginTopBottom: 1vh;
@containerMargin: @containerMarginTopBottom auto;
@containerHeight: @bodyHeight - @containerMarginTopBottom * 2;

@iconColor:white;
@iconFontSize:28px;

@headHeight: 4rem;
@headBackgroundColor: bisque;

@listHeight: 3rem;
@bodyBackgroundColor: cornsilk;

@footHeight: @headHeight;
@footIconFontSize:@iconFontSize;
@footBackgroundColor: @headBackgroundColor;
@footActivityBackgroundColor: antiquewhite;